@model IEnumerable<ShoppingCart.Service.ProductViewModel>

@{
    ViewBag.Title = "Beer Shop";
}

<div class="jumbotron">
    <h1>Shopping Cart</h1>
    <p class="lead">Welcome</p>
</div>

<div class="row">
    <table class="table table-striped table-bordered">
        <thead class="thead thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Resources.FrontEndLabels.Stock
        </th>
        <th></th>
        <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Id)
            </td>
            <td>
                <b>@Html.DisplayFor(model => item.Name)</b>
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.Quantity)
            </td>

            @using (Html.BeginForm("AddToCart", "Product", FormMethod.Post))
            {
            <td>
                @Html.DropDownListFor(m => item.QuantityToBuy, new SelectList(Enumerable.Range(1, item.Quantity)))
            </td>
            <td>
                @Html.HiddenFor(m => item.Id)
                @Html.HiddenFor(m => item.QuantityToBuy)
                <button type="submit" value="Buy" @((item.IsAvailable) ? "" : "disabled") %>Buy</button>
            </td>
            }

        </tr>
        }
        </tbody>
    </table>
</div>