@model IEnumerable<ShoppingCart.Service.PurchaseViewModel>

@{
    ViewBag.Title = "UserCart";
}

<h2>User Cart</h2>

<div class="row">
    <table class="table table-striped table-bordered">
        <thead class="thead thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.ProductID)
                    </td>
                    <td>
                        <b>@Html.DisplayFor(model => item.ProductName)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Quantity)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    @Html.ActionLink("Checkout cart", "Checkout", "Purchase")
</div>
